:host {
  position: relative;
}

.container {
  position: relative;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: black;
  display: inline-block;
  z-index: 10;
  background: white;
}

button {
  border: none;
  background: transparent;
}

ul {
  position: absolute;
  background: white;
  border: 1px solid black;
  margin-top: -1px;
  list-style: none;
  min-width: calc(100% - 2px);
  padding: 0;
  margin-bottom: 0;
}
