<div class="container">
  <app-popup></app-popup>
  <app-popup></app-popup>
  <app-popup></app-popup>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nisi pretium, elementum velit vitae, iaculis est.
  Cras mattis lacus in tortor laoreet vehicula. Proin hendrerit sem a elit ultricies, vel venenatis tortor feugiat.
  Donec maximus fringilla sem, quis sodales dolor pharetra in. Aliquam eu nunc vestibulum, fermentum erat eget,
  dapibus ipsum. Curabitur ut augue viverra nunc tristique tempor non molestie purus. Pellentesque luctus augue vel
  arcu faucibus, eu efficitur tortor mollis. Pellentesque sagittis id libero quis suscipit.
</p>
<p>
  Cras vestibulum sodales sodales. Nam viverra nisl vel ex aliquet maximus. Nunc a mauris in tellus lacinia fringilla.
  Cras tempor enim et mollis bibendum. Pellentesque cursus iaculis enim, luctus maximus erat mattis vitae. Duis
  rhoncus tortor vel dui pellentesque pulvinar. Quisque consectetur id nunc quis condimentum. Aliquam tempor, risus ut
  tristique volutpat, ligula ligula vestibulum libero, at dignissim odio nisi at magna. Suspendisse aliquam eu augue
  et consectetur.
</p>
<p>
  Duis a nisi vitae leo auctor blandit. Quisque consequat finibus orci sit amet mattis. Nullam ut vehicula neque, id
  pulvinar purus. Sed et accumsan ligula. Nulla ex magna, posuere id posuere sodales, ornare non nisl. Etiam felis
  augue, dictum vitae ipsum ut, hendrerit suscipit ligula. Integer laoreet accumsan ipsum, fringilla accumsan diam
  suscipit vel. Cras quis augue sem. Phasellus tincidunt nisi metus, ullamcorper maximus elit sollicitudin sit amet.
  Mauris ultricies porttitor enim, ac interdum leo mattis a. Nunc hendrerit maximus arcu in condimentum.
</p>
